body{
    padding: 0 12%;
}
#header, header, #footer, footer, #aside, aside, #nav, nav{
    text-align: center;
}
#main{
    padding: 1px;
}
#section, section{
    width: 60%;
    display: inline-block;
}
#aside, aside{
    width: 39%;
    display: inline-block;
}
.border{
    border: 1px solid rgba(0,0,0,0.5)
}