.container{
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

input{
    padding: 8px 16px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
}

input:focus{
    border: 1px solid rgba(0,140,225,1);
}


*:focus{
    outline: none;
}

table, th, tr, td{
    border: 1px solid #444;
    border-collapse: collapse;
}

th, td{
    padding: 4px 8px;
}