.button-blue{
    padding: 10px;
    margin: 10px;
    background-color: aqua;

    &:hover{
        background-color: lightblue;
    }
}
.button-red{
    padding: 10px;
    margin: 10px;
    background-color: maroon;

    &:hover{
        background-color: lightcoral;
    }
}